body {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

th,
td {
  padding: 10px;
}

table {
  border-spacing: 5px;
  width: 50%;
}

h1 {
  margin-bottom: 0.5em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scoreBox, #message, #restart {
  display: none;
}

#timer {
  position: absolute;
  right: 1em;
  top: 0;
}

#
