<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/app.css" />
    <title>Boggle</title>
  </head>

  <body>
    <div id="timer">
      <h1 id="seconds">10</h1>
    </div>
    <div class="container">
      <h1>Boggle!</h1>
      <div id="scoreBox">
        <h3>Score: <span id="score">0</span></h3>
      </div>
      <table class="board">
        {% for row in board %}
        <tr class="row">
          {% for letter in row %}
          <td class="cell"><h2>{{letter}}</h2></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <form action="" id="guessForm">
        <label for="guess"><h3>Hazard A Guess?</h3></label>
        <input type="text" name="guess" id="guess" required />
        <button type="submit">Submit</button>
      </form>
      <div id="restart">
        <h2 id="scoreMessage"></h2>
        <button id="restartButton">Another Turn?</button>
      </div>
      <p id="message"></p>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
